<ion-app>
  <ion-split-pane contentId="main-content" [when]="false">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Mukto</ion-list-header>
          <ion-note>hi@ionicframework.com</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list" mode="ios">
          <ion-list-header>Outputs</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let label of outputMenu" lines="none">
            <ion-item [routerLink]="[label.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [name]="label.icon"></ion-icon>
              <ion-label>{{ label.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item lines="full" routerLink="/app-qr">
              <ion-icon slot="start" name="apps" size="large" color="primary"></ion-icon>
              <ion-label class="ion-text-wrap">
                Mukto Mobile App
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
