<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mobile Application</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-card-header>
      <ion-icon name="logo-android" size="large" color="success"></ion-icon>
      <ion-card-title color="primary">Mukto</ion-card-title>
      <ion-card-subtitle color="primary">Android App V-1.0</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Click the download button or Scan the Qr from your phone to download the Android app.
    </ion-card-content>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-button fill="clear" href="https://drive.google.com/file/d/1bYatTRM3PJyQVLVikI2BePodHDDjMNM4/view?usp=share_link">
          <ion-icon slot="start" name="download" size="large"></ion-icon>
          Download
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <img src="../../../assets/icon/qr.png" style="width: 50;height: 200px;">
        <p>Scan QR</p>
      </ion-col>
    </ion-row>



  </ion-card>

</ion-content>